@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100&display=swap');



*{
    margin:0;
    padding:0;
}


.sidebar{
background-color: red;
width: 20vw;
font-family: 'Fira Sans', sans-serif;
}
.sidebar nav{
    padding: 72px;
}
.sidebar nav li{
    list-style:none;
    font-size: 30px;
}

.main{
    background-color: yellow;
    width: 20vw;
}
.container{
    display: flex;
}